<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bytes"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.UploadActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".signup.SignupActivity" />
        <activity android:name=".profile.EditProfileActivity" />
        <activity android:name=".profile.HistoryActivity" />
        <activity android:name=".profile.HelpActivity" />
        <activity android:name=".login.ForgotPasswordActivity" />
        <activity android:name=".login.ResetPasswordActivity" />
        <activity android:name=".ads.AdsActivity" />
        <activity android:name=".shorts.SearchActivity"/>
        <activity android:name=".ads.AdUserActivity"/>
        <activity android:name=".ads.AdUploadActivity"/>
        <activity android:name=".ads.VideoPreviewActivity"/>
        <activity android:name=".ads.YourAdActivity"/>
    </application>

</manifest>